/**************************/
strong {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #FFFFFF;
    margin: 0
}

strong{
    font-size:28px; line-height:24px;
}
hr{
  border-bottom-color: #800000;
  border-bottom-width: 4px;
  border-bottom-style: groove;
}
/*+++++++++++carrusel++++++++++++*/
/*******************/
.navbar {
  position: fixed;
  background-color: #f4511e;
  margin-bottom: 0;
  z-index: 9999;
  font-size: 12px !important;
  font-family: sans-serif;
  letter-spacing: 2px;
  border-radius: 0px;
  border: 0;
}
 .navbar a{
  font-size:18px; line-height:20px;
  font-family: fantasy;
}
/*BARRA DE MENU*/
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
.navbar-nav li a:hover, .navbar-nav li.active a {
     color: #f4511e !important;
     background-color: #fff !important;
 }
 .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }
/*FINDE LA BARRA DE MENU*/
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  width: 50%;
  display: none;
}
}

/*EFECTOS DE IMAGENES*/
.col-sm-4 {
    position: relative;
}
.img-responsive {
  opacity: 3;
  display: block;
  background: #81F7D8;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 15px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

 .col-sm-4:hover .img-responsive {
  opacity: 0.8;
}
 .col-sm-4:hover .middle {
  opacity: 4;
}

.text {
  color:rgba(138,221,45,0.8);
  background:rgba(0,0,0,0.3);
  color: white;
  font-size: 15px;
}
/****************gggg*/
p1{
  font-family: fantasy;
  color: #088A85;
}
p1:hover{
    color: #FA5858;
}
p3{
  color: #0000FF ;
  font-family: serif;
}
.tiempo{
  margin-top: 0;
  background-color: #A9DFBF;

}
.well{
  background-color: #A9DFBF;
}
p{
color:#088A85;
  text-decoration-color: red;
}

h1{
font-size:28px; line-height:24px;
  	font-family: fantasy;
  	color: #088A85;
}
 h2{
  background-color: #f4511e;
   border: none;
   color: white;
   padding: 16px 32px;
   margin-left: 640px;
   margin-right: 700px;
   text-align: center;
   font-size: 16px;
   margin: 4px 2px;
   opacity: 0.6;
   transition: 0.3s;
}
h2:hover {opacity: 1}

h3{font-size:45px; line-height:44px;
	font-family: 'Sofia';
  color: #FF0000;
}
h3:hover{
  color:#088A85;
}
h4{
  font-size:45px; line-height:44px;
  font-family: 'Sofia';
  color:#088A85;
}
h5{
font-size:15px; line-height:20px;
  	font-family: fantasy;
  	color: #FF0000 ;
}

.img-responsive {
  opacity: 2;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 15px;
}
/*ICONOS SOCIALES*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1hcbff');
  src:  url('fonts/icomoon.eot?1hcbff#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1hcbff') format('truetype'),
    url('fonts/icomoon.woff?1hcbff') format('woff'),
    url('fonts/icomoon.svg?1hcbff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-library:before {
  content: "\e921";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}
.icon-codepen:before {
  content: "\eae8";
}

/*bienvenido******************************/
.contenedor{
width:300px;
height:40px;
color:#e4f507;
font-size:40px;
line-height:40px;
position:absolute;
top:50px;
right: 980px;
margin:auto;
overflow:hidden;
}
.contenedor ul{
   list-style:none;
   padding-left:10px;
   animation:cambiar 7s infinite;
}
@keyframes cambiar{
   0%{margin-top:0;}
   20%{margin-top:0;}

   25%{margin-top:-40px;}
   50%{margin-top:-40px;}

   55%{margin-top:-80px;}
   80%{margin-top:-80px;}

   85%{margin-top:-40px;}
   95%{margin-top:-40px;}

   100%{margin-top:0;}
}
/******************/

/** LATERAL DERECHA *4545454*/
.col-sm-8{
  background:#F9E79F;
}
/* ******************** */
