
.caja1{
    float: left;
    background: #2a2;
    color: #aaa;
    border:5px solid blue;
    
  }
  
  p{
 display: none;
text-align: center;
     

  }
  .caja2{
      float:right;
      border: 4px solid blue;
  }

  .caja3{
    float:left;
    border: 4px solid blue;
}
.caja4{
    float:right;
    border: 4px solid blue;
}


  