
body{
    margin: center;
}
h1{
    margin-left: 300px;
    size: 4px;
    width: 410px;
    color: #7a7175;
    text-align: center;
}
h1,h2,h3,h4{
  border-bottom-color: #800000;
  border-bottom-width: 4px;
  border-bottom-style: groove;
}
    h2,h3,h4{
        margin: 5px;
        margin-left: 35px;
        margin-right: 50px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-decoration: none;
        background: #ffffff;
        
     }

.caja1{     
        font-family: sans-serif;
        margin-left: 180px;
        margin-right: 800px;
        font-size: 15px;       
        font-weight: 400;      
        background:#8f878a;
        border: 5px solid #ffffff;  
  }
    p {
       background: #ffffff;
       border-radius: 5px;
       margin-left: 35px;
       margin-right: 50px;
    text-decoration: none;
    text-align: left;  
    flex-wrap: wrap;
    
  }
  
  .caja2{
    position: absolute;
    font-family: sans-serif;
        margin-bottom: 30px;
        margin-left: 660px;
        margin-right: 280px;
        font-size: 15px;       
        font-weight: 400;      
        background:#8f878a;
        border: 5px solid #ffffff; ;
  }

  .caja3{   
    font-family: sans-serif;
        margin-left: 180px;
        margin-right: 800px;
        font-size: 15px;       
        font-weight: 400;      
        background:#8f878a;
        border: 5px solid #ffffff;
}

.caja4{
    font-family: sans-serif;
        margin-left: 180px;
        margin-right: 800px;
        font-size: 15px;       
        font-weight: 400;      
        background:#8f878a;
        border: 5px solid #ffffff;
}

footer p{ width:100%; 
    position:relative; 
    overflow:hidden; 
    text-align:center; 
    padding:32px 0 45px 0; 
    margin: right;
}


  