.container-portada{
    width: 100%;
    height: 400px;
    background-image: url(../imagenes/slider-1small.jpg);
    background-size: 200%;
    animation: movimiento 10s infinite linear alternate;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.capa-gradiente{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left,black,#867286);
    opacity: 0.5;
}
.container-detalle{
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.detalle{
    width: 100%;
    max-width: 500px;
    position: relative;
    bottom: 40px;
    left: 10px;
    color: white;
}
.detalle h1{
    font-size: 40px;
    font-weight: 100;
}
.detalle p{
    margin-bottom: 20px;
    font-size: 20px;
}
.detalle button{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    margin-bottom: 30px;
    transition: background 300ms;
}
.detalle button:hover{
    background: white;
    color: rgb(0, 0, 0);
}


